<html>
<head>
    <title>Login & Registration</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/login_app/css/style.css' %}">
</head>
<body>
    <div class = "wrapper">
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
        <div class = "login_section"> 
            <h1>Registration</h1>
            <form action = '/register' method = 'post'>
                {% csrf_token %}
                <label for="first_name">First Name</label>
                <input class="form-control" type="text" placeholder="First Name" id = "first_name" name = "first_name">
                <label for="last_name">Last Name</label>
                <input class="form-control" type="text" placeholder="last Name" id = "last_name" name = "last_name">
                <label for="release_date">Date of Birth</label>
                <input class="form-control inline_input" type="date" id = "date" name = "date"> 
                <label for="email">Email</label>
                <input class="form-control" type="text" placeholder="example@yahoo.com" id = "email" name = "email">
                <label for="password">Password</label>
                <input class="form-control" type="password" placeholder="Password" id = "regPassword" name = "regPassword">
                <label for="confPassword">Confirm Password</label>
                <input class="form-control" type="password" placeholder="Confirm Password" id = "confPassword" name = "confPassword">
                <button class="btn btn-primary" type="submit" style = "margin: 20px auto">Register</button>
            </form>
        </div>
        <div class = "login_section"> 
            <h1>Login</h1>
            <form action = '/login' method = 'post'>
                {% csrf_token %}
                <label for="email">Email</label>
                <input class="form-control" type="text" placeholder="Email" id = "email" name = "email">
                <label for="password">Password</label>
                <input class="form-control" type="password" placeholder="Password" id = "password" name = "password">
                <button class="btn btn-primary" type="submit" style = "margin: 20px auto">Login</button>
            </form>
        </div>
    </div>
</body>
